.link{
    text-decoration: none;
    font-size: 14px;
}
.blue{
    color: #3072C4;
}
.grey{
    color: #A1A1A1; 
}
.link:hover{
    text-decoration:underline;
}

li{
    list-style-type: none;
}
ul{
    padding: 0;
}
html,body{
    height: 100%;
}
.wrap{
    flex-direction: column;
    min-height: 100%;
    display: flex;
    font-family: Roboto;
    background-color:#E5E5E5;
}
body{
    margin: 0px;
}
.header{
    padding: 0 10%;
    top:0;
    right:0;
    width:80%;
    height: 50px;
    display: flex;
    align-items: center;
    min-width: 675px;
    background: white;
    border-bottom: 2px solid #E5E5E5;
}
.header__logo{
    width:225px;
    height: 34px;
    background: url(../images/Group.png);
}
.header__menu{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    min-width: 450px;
    height: 100%;
    font-size: 14px;
    flex-grow: 2;
}
.header__menu li{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding:0 5px;
    cursor: pointer;
}
.header__menu__exit::before{
    content: '';
    display: inline-block;
    height: 60%;
    width: 1.5px;
    background: gray;
    margin-right: 10px;
}
.return {
    margin: 0 10%;
    padding: 20px 0;
    min-width: 700px;
    height: 20px;
    line-height: 20px;
}
.return .blue-link{
    font-size: 16px;
}
.content{
    background-color:#FFFFFF;
    margin: 0 10%;
    border-top: 2px solid #1E79BE;
    min-width: 700px;
    height: calc(100% - 110px);
    display: flex;
    flex-flow: column;
}
.content__header{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    padding: 50px;
}
.content__header h1{
    font-weight: 300;
    font-size: 42px;
    margin: 30px 0;
}
.content__header__menu{
    display: flex;
    justify-content: flex-start;
    height: 66px;
    font-size: 22px;
    margin: 0;
}
.content__header__menu li{
    padding-top:18px;
    margin-right:15px;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}
.content__header__menu .active{
    border-bottom: 4px solid #1E79BE;
}
.content__header{
    padding: 0 45px;
}
.content__body{
    padding:35px 45px 0 45px;
    display: grid;
    grid-template-rows: 40px auto 120px;
    flex-grow: 2;
}
.content__body h2{
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    margin:0;
}
.content__body__sign{
    padding:10px 0;
    border-bottom: 1px solid  #E5E5E5;
    display: flex;
    flex-flow: wrap;
}
.content__body__sign__frame{
    width:500px;
    margin: 25px 100px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__body__sign__frame__title{
    margin:0;
}
.content__body__sign__frame input{
    height: 32px;
    width: 110px;
}
.content__body__sign__frame__sub{
    margin:5px 0;
    font-size: 14px;
    color: #A1A1A1;
    line-height: 18px;
    min-height: 18px;
}
.button{
    border:none;
    outline:none;
    cursor: pointer;
    height: 42px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 25px;
    padding:10px 15px;
    border-radius: 2px;
    background-color: white;
    border:1px solid #A1A1A1;
}
.blue-button{
    background-color: #1E79BE;
    color: white;
    margin-right: 15px;
}
.content__body__control-panel{
    display: flex;
    align-items: center;
}
.content__body__control-panel_buttons{
    flex-grow: 2;
}
.footer {
  box-sizing: content-box;
  line-height: 20px;
  padding: 20px 10%;
  background: #E5E5E5;
  display: flex;
  align-items: flex-start;
  align-items: center;
  color: #A1A1A1;
}
.footer__company-inf{
    display: flex;
}
.footer__service-inf{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;

}
.footer__service-inf p{
    margin:0 0 0 80px;
}
 .footer__company-inf p{
    margin: 0;
}
.footer_logo{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.footer__name{
    font-weight: 900;
    font-size: 16px;
}